<h1>Edit Question</h1>
<%# If @question is persisted then the "form_for" helper will make hte action submit to quesiton_path(@question) and it will make the HTTP request PATCH. %>
<%= render "form" %>
