<h1>New Question</h1>
<%# form_for is a Rails helper that expects to be given an ActiveRecord object
    as a first argument. If the object is not persisted it will automatically
    set the action for the form the associated controller create action.
    In this case it will make the action go to `questions_path` and it will
    automatically set the method to "POST"

    if @question has any of it's attributes set, it will populate the corresponding field with that data.

    %>

    <%# render 'form' will look for a partial named '_form.html.erb' within the same folder as this file (new.html.erb). Partials have access to the same things as this file such as instace variables and helper methods. %>
<%= render "form" %>
